<%
  page = { 'title': 'Social', 'key': 'Social', 'ngApp': 'social' };
  page.showHelper = true;
  page.description = "FamilySearch Social";
  assets = {
    'css': [ 'index.css', 'familysearch-styles.styl', 'firechat.css'],
    'js': [
      'angular.min.js',
      'app.js',
      'friendService.js',
      'friendListCtrl.js',
      'userPortrait.js',
      'currentPersonService.js',
      '3.3.2/bootstrap.js',
      'inviteFriend.js',
      'sharedPeople.js',
      'removeFriend.js',
      'peopleList.js',
      'getFriends.js',
      'newFriend.js',
      'firebase.js',
      'firechat.js',
      'composeMessage.js',
      'activityFeed.js'
    ]
  };
  partial('partials/_pageGlobals');
%>
<script type="text/javascript">FS.social = <%- JSON.stringify(user) %></script>

<div class="row">
  <!-- Left Column -->
  <div class="col-md-4 left-column text-center">
    <!-- Portrait -->
    <img class="user-portrait" user-portrait="<%= friendUserId %>" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
    
    <!-- display/contact names -->
    <div class="user-name"><%= displayName %></div>
    <% if (userId == friendUserId) { %>
    <div class="contact-name">Contact Name: <%= user.profile.contactName %></div>
    <% } %>
    
    <div class="user-tools">
      <% if (userId == friendUserId) { %>
      <button class="fs-button fs-button--small shared-people">Share</button>
      <button class="fs-button fs-button--small invite-btn" invite-friend="">Invite</button>
      <button class="fs-button fs-button--small compose-message" compose-message>Compose</button>
      <shared-people data="<%= userId %>"></shared-people>
      <compose-message></compose-message>
      <% } %>
      <% if (feature('chatEx')) { %>
      <a href="">
        <img class="friend-chat" src="<%= img('chat.svg') %>">
      </a>
      <% } %>
    </div>

    <!-- Stats -->
    <% if (userId == friendUserId) { %>
    <hr>
      <table class="stats-table">
        <tr class="stats-row"><td><a href="/temple/all" class="stats-ordinances">?</a></td><td class="friends-count">?</td></tr>
        <tr class="stats-footer"><td class="stats-footer">Ordinances Reserved</td><td class="stats-footer">Friends</td></tr>
        <tr class="stats-row"><td><a href="/indexing/my-indexing" class="stats-indexing">?</a></td><td><a href="/tree/#view=favorites" class="stats-watching">?</a></td></tr>
        <tr class="stats-footer"><td class="stats-footer">Indexing</td><td class="stats-footer">People Watched</td></tr>
      </table>
    <hr>
    <% } %>

    <!-- Friend Requests -->
    <% if (userId == friendUserId) { %>
    <div class="invite-section text-left">
      <h5 class="invite-header"><strong>Incoming Friend Requests</strong></h5><span class="fs-badge fs-badge--dark incoming-invites-count">0</span>
      <hr class="invite-hr">
      <h5 class="invite-header"><strong>Outgoing Friend Requests</strong></h5><span class="fs-badge fs-badge--dark outgoing-invites-count">0</span>
      <hr class="invite-hr">
      <div class="pending-invites">
        <ul class="invites-list"></ul>
        <p class="no-invites hide">You have no pending invitations.</p>
      </div>
    </div>
    <% } %>
    
    <!-- Recent Blog Posts -->
    <% if (userId == friendUserId) { %>
    <div class="recent-blog-posts text-left">
      <h5><strong>Recent Blog Posts</strong></h5>
      <hr>
      <ul class="recent-blog"></ul>
    </div>
    <% } %>
    
  </div>
  
  <!-- Right Column -->
  <div class="col-md-8 right-column">
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#sharing" aria-controls="sharing" role="tab" data-toggle="tab">Memories Shared
            <span class="fs-badge fs-badge--dark shared-count">0</span>
          </a>
        </li>
        <li role="presentation">
          <a href="#friend-activity" aria-controls="friend-activity" role="tab" data-toggle="tab">Activity
          <span class="fs-badge fs-badge--dark activity-count">0</span>
          </a>
        </li>
        <li role="presentation">
          <a href="#friends" aria-controls="friends" role="tab" data-toggle="tab">Friends
          <span class="fs-badge fs-badge--dark friends-count">0</span>
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <!-- Shared Memories -->
        <div role="tabpanel" class="tab-pane active" id="sharing">
          <div class="peoplelist-component" people-list="<%= friendUserId %>"></div>
        </div>

        <!-- Activity Feed -->
        <div role="tabpanel" class="tab-pane" id="friend-activity">
          <div class="activity-feed" activity-feed="<%= friendUserId %>"></div>
        </div>

        <!-- My Friend List -->
        <div role="tabpanel" class="tab-pane" id="friends">
          <!-- Banner Nav -->
          <% if (userId == friendUserId) { %>
          <form class="form-inline friend-search-form" role="form">
            <div class="input-group">
              <div class="input-group-addon"><img class="search-icon" src="<%= img('search.svg') %>"></div>
              <input class="form-control search-friends-input" type="text" placeholder="Search Friends" ng-model="searchText.display_name">
            </div>
          </form>
          <% } %>

          <!-- Friend List -->
          <div ng-cloak ng-controller="friendListCtrl" model="<%= friendUserId %>">
            <div class="friend-container" ng-repeat="friend in friends | orderBy: 'display_name' | filter:searchText">
              <!-- Don't show remove button or hyperlinks if viewing a friend page -->
              <% if (userId == friendUserId) { %>
              <a href="{{friend.user_id | cisid: true}}">
                <!-- <img class="friend-avatar" ng-src="/platform/tree/persons/{{friend.person_id}}/portrait?default=https://cdn.mediacru.sh/j/jVaj3U2BwJqn.svg"> -->
                  <img class="friend-avatar" ng-src="{{friend.portrait}}">
                <!-- <span class="badge badge-info pull-left friends-number" title="Number of friends" get-friends="{{friend.user_id}}">0</span> -->
                <div class="name">{{friend.display_name}}</div>
              </a>

              <a href="" class="pull-right fs-button fs-button--small fs-button--secondary remove-btn" remove-friend="{{friend.user_id}}" data-handle="{{friend.display_name}}">Remove</a>
              <% } else { %>
              <img class="friend-avatar" ng-src="{{friend.portrait}}">
              <div class="name">{{friend.display_name}}</div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert -->
<div class="page-alerts alert alert-warning alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
  <strong>Warning!</strong> This is a FamilySearch prototype, all social data will be deleted throughout the prototyping process.
</div>

<!-- Show modal when accepting new friend requests -->
<% if (newFriendName) { %>
  <new-friend data-name="<%= newFriendName %>" data-id="<%= userId.split(".")[2] %>">
<% } %>

<!-- Firechat -->
<% if (feature('chatEx')) { %>
<script type='text/javascript'>
  $( document ).ready(function() {
    var firechatRef = new Firebase('https://luminous-torch-8189.firebaseio.com/chat');
    firechatRef.authWithCustomToken("<%= firechatToken %>", function(error, authData) {
      if (error) return console.log(error);
      if (authData) {
        var chat = new FirechatUI(firechatRef, document.getElementById('firechat-wrapper'));
        chat.setUser(authData.uid, authData.auth.name);
      }
    });
  });
  $('.hide-chat, .friend-chat').on('click', function(event) {
    $('.chat-container').toggle();
  });
</script>
<div class="chat-container">
  <div id='firechat-wrapper'></div>
</div>
<% } %>