<%
  page = { 'title': 'Social', 'key': 'Social', 'ngApp': 'social' };
  page.description = "FamilySearch Social";
  assets = {
    'css': [ 'index.css' ],
    'js': [
      'angular.min.js',
      'app.js',
      'friendService.js',
      'friendListCtrl.js',
      'userPortrait.js',
      'currentUserService.js',
      'bootstrap.js',
      'inviteFriend.js',
      'sharedPeople.js',
      'removeFriend.js',
      'peopleList.js',
      'getFriends.js'
    ]
  };
  partial('partials/_pageGlobals');
%>
<script type="text/javascript">FS.social = <%- JSON.stringify(user) %></script>

<div class="banner">
  <a href="<%- appPath('/') %>">
    <img class="user-portrait" user-portrait="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
  </a>
  <h1 class="user-name"><%= displayName %></h1>
</div>

<div class="row banner-nav" data-spy="affix" data-offset-top="355">
  <div class="input-prepend pull-left">
    <span class="add-on"><i class="icon-search"></i></span>
    <input ng-model="friendText" class="span2" type="text" placeholder="Search Friends">
  </div>

  <button class="btn pull-right invite-btn" invite-friend="">Invite a Friend</button>
  <button class="btn pull-right shared-people">Share Memory Person</button>
  <shared-people data="<%= userId %>">
</div>

<div class="alert page-alerts">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Warning!</strong> This is a FamilySearch prototype, all social data will be deleted throughout the prototyping process.
</div>

<section class="friend-list">
  <div class="row-fluid">
    <div class="span6">
      <h3 class="friend-list-owner"></h3>
      <div ng-cloak ng-controller="friendListCtrl" model="<%= friendUserId %>">
        <div class="row-fluid friend-container" ng-repeat="friend in friends | orderBy: 'display_name' | filter:friendText">
          <a href="{{friend.user_id | cisid: true}}">
            <div class="span2">
              <img class="friend-avatar" ng-src="{{friend.portrait}}">
            </div>
            <!-- <span class="badge badge-info pull-left friends-number" title="Number of friends" get-friends="{{friend.user_id}}">0</span> -->
            <div class="span6 name-container">
              <div class="name">{{friend.display_name}}</div>
              <br><div class="sub-friend-text">0 Friends, sharing 0 memory people</div>
            </div>
          </a>

          <div class="span2 btn-group remove-btn pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Actions <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="" class="remove-btn" remove-friend="{{friend.user_id}}" data-handle="{{friend.display_name}}">Remove Friend</a></li>
              <li><a href="mailto:{{friend.email}}" class="remove-btn" target="_blank">Send Email</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="span6">
      <h3>Shared Memory People</h3>
      <div class="peoplelist-component" people-list="<%= friendUserId %>"></div>
    </div>
  </div>


</section>
